# Auto detect text files and perform LF normalization on checkout
* text=auto eol=lf

# Force Go files and text files to always use LF line endings
*.go text eol=lf
*.mod text eol=lf
*.sum text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf

# Binary files
*.png binary
*.ico binary
*.exe binary
